{{ "<!-- Condition Section Start -->" | safeHTML }}

<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding:40px 0">
            <h2><strong>1.1 Condizioni generali del servizio</strong></h2>
            <p>La mera presa di contatto del cliente con il fornitore del servizio a fini informativi o di richiesta
                preventivi è
                del tutto <strong>GRATUITA E NON VINCOLANTE</strong> per le parti.<br />
                Il contratto di prestazione d&#8217;opera si considererà perfezionato con l&#8217;accettazione da parte
                del cliente
                delle suddette condizioni, tramite la selezione dell&#8217;apposito tasto ACCETTA posto qui in
                calce.<br />
                Una volta concluso l&#8217;accordo, il cliente si impegna a comunicare al Fornitore tutte le
                informazioni relative
                ai servizi richiesti, con particolare riferimento a: destinazione d’uso della traduzione, tempi di
                consegna,
                modalità di consegna, terminologia tecnica da utilizzare. Inoltre indicherà il numero di cartelle da
                tradurre,
                lingua di origine e lingua di destinazione unitamente al file da tradurre in formato word/ pdf. Tale
                ordine deve
                pervenire esclusivamente per posta elettronica tramite il suddetto sito.<br />
                Al momento della presa in carico del lavoro, il cliente si impegna al versamento di un acconto iniziale
                oscillante
                tra il 20% e il 50% a seconda dell&#8217;entità dello stesso, per poi procedere al saldo al momento
                della
                ultimazione e consegna della traduzione. Eventuali condizioni, tempi, necessità diverse potranno essere
                trattati
                privatamente con il fornitore del servizio che, ove possibile, sarà disponibile ad accontentare il
                cliente.<br />
                N.B. Tutte le informazioni e i dati che perverranno al traduttore saranno considerati confidenziali e
                trattati
                unicamente ai fini del compimento del lavoro commissionatogli. Si assicura dunque il trattamento dei
                dati personali
                nel rispetto della legislazione sulla privacy ai sensi del d.lgs 196/2003.</p>
            <p>1.2 I testi tecnici saranno accompagnati da documenti di riferimento forniti dal cliente che permettano
                un migliore
                comprensione degli stessi.</p>
            <p>1.3 L&#8217;unità di conteggio per una traduzione è la Cartella composta da 1500 caratteri spazi inclusi,
                pari a 25
                righe oppure il conteggio a parola spazi inclusi.</p>
            <h2>1.4 Modalità di esecuzione della prestazione</h2>
            <p>
                Il termine entro cui eseguire la prestazione, decorre dalla data di ricevimento dell’ordine di
                esecuzione
                dell’incarico unitamente al materiale da tradurre. L’incarico sarà eseguito in maniera professionale, a
                cura di
                personale con preparazione linguistica adeguata ed esperienza professionale certificata e consolidata.
            </p>
            <h2>1.5 Annullamento</h2>
            <p> In caso di annullamento di un ordine da parte del cliente questo ha diritto alla riconsegna del
                materiale fornito al
                Traduttore entro 12h. Nel caso il testo da tradurre sia già stato consegnato al Traduttore e
                quest&#8217;ultimo lo
                abbia già iniziato, il Committente è tenuto a pagare il 50 % dell’importo definito nel contratto di
                traduzione. Nel
                caso il lavoro sia già stato terminato del tutto o in buona parte, il Committente sarà tenuto al prezzo
                per intero.
            </p>
            <h2>1.6 Tempi di consegna</h2>
            <p>La traduzione inviata dal cliente dovrà essere valutata dal Traduttore in modo tale da poter definire i
                tempi di
                consegna della stessa. (Verranno prese in considerazione dallo stesso, ove materialmente possibile,
                eventuali
                esigenze di urgenza del cliente).</p>
            <h2>1.7 Pagamento</h2>
            <p> Il Committente corrisponderà al Fornitore la somma pattuita, sia essa prevista per il singolo incarico o
                per un
                determinato periodo. Il Committente è tenuto al rimborso di eventuali spese e oneri sostenuti dal
                Fornitore per la
                prestazione di tali servizi.<br />
                All&#8217;accettazione del contratto, dovrà essere versato il corrispettivo dell&#8217;acconto iniziale
                concordato e
                la copia della ricevuta dell&#8217;avvenuto pagamento dell’Acconto dovrà essere inviata online al sito
                stesso.<br />
                L&#8217;intero corrispettivo sarà saldato a lavoro ultimato con invio della relativa ricevuta. Il
                versamento potrà
                essere effettuato nei seguenti modi: bonifico bancario. ricarica postapay e modalità paypal
                (quest&#8217;ultima
                modalità direttamente dal sito).</p>
            <p>1.8 La sottoscritta si riserva il diritto di non iniziare il lavoro fino ad avvenuta ricezione del
                contratto di
                traduzione compilato in tutte le sue parti e accettato dal committente.</p>
            <p>1.9 In nessun caso la sottoscritta potrà essere resa responsabile per traduzioni che risultino
                stilisticamente non
                soddisfacenti al committente in quanto il Traduttore si limita, se non espressamente richiesto, alla
                semplice
                traduzione.</p>
            <h2>2.0 Reclamo</h2>
            <p>Verranno presi in considerazione solamente ed esclusivamente i reclami ricevuti via email entro trenta
                giorni dalla
                consegna della traduzione. Ogni reclamo dovrà essere accompagnato dai documenti originali e dalle
                traduzioni
                contestate.<br />
                In caso di non soddisfazione del cliente dovuto ad oggettive discrepanze tra l&#8217;originale e il
                testo tradotto
                specificamente identificate e fondate su pareri tecnici e professionistici, quindi in caso di reclamo
                manifestato
                entro i tempi stabiliti, il traduttore si impegna, a sue spese ed in un tempo di tre giorni dalla
                ricezione del
                testo da revisionare, a consegnare (1) una riedizione della traduzione contestata.<br />
                Trascorso questo tempo, la traduzione sarà considerata corretta.<br />
                Inoltre in caso di accertate e involontarie lacune o refusi tipografici, il fornitore si dichiara
                disponibile ad un
                eventuale rimborso in base all&#8217;entità del danno che si riserva di valutare.</p>
            <h2>2.1 Ritardo</h2>
            <p> In caso di consegne in ritardo rispetto ai tempi stabiliti, e in caso in cui il ritardo sia direttamente
                e solamente
                imputabile al servizio di traduzione, verrà corrisposto un rimborso, da definirsi tra le parti.</p>
            <h2>2.2 Proprietà Intellettuale</h2>
            <p>Tutti i diritti relativi al contenuto e ai servizi del fornitore sono riservati allo stesso.<br />
                Eventuali glossari e/o memorie di traduzioni generate dalla parte fornitrice per l’esecuzione dei
                servizi richiesti
                dalla parte committente restano di esclusiva proprietà del fornitore e sono soggetti e disciplinati
                dalle norme sui
                diritti d’autore e dalle norme sulla proprietà intellettuale. Il Committente si impegna a non creare
                opere derivate,
                distribuire, esporre o ad ogni modo sfruttare i materiali prodotti e/o utilizzati dal Fornitore.</p>
            <h2>2.4 Obbligo di Riservatezza</h2>
            <p>Il Fornitore è tenuto ad osservare la massima riservatezza su fatti, informazioni, cognizioni, documenti
                di cui
                abbia conoscenza, o che siano a lui comunicati dal Committente, in virtù del contratto di
                Traduzione.<br />
                Il Committente, analogamente, è tenuto ad osservare la massima riservatezza su fatti, informazioni,
                cognizioni,
                documenti di cui abbia conoscenza, o che siano a lui comunicati dal Fornitore, in virtù del contratto di
                Traduzione.<br />
                Salvo dichiarazione contraria dal Committente, la documentazione fornita da questi al Fornitore sarà, al
                termine
                dell’incarico, trattenuta al solo scopo di archiviazione.</p>
            <h2>2.5 Limiti di efficacia del contratto di traduzione</h2>
            <p> Le parti sono vincolate esclusivamente a quanto stabilito con il conferimento del singolo incarico e con
                l’approvazione delle condizioni generali di contratto.<br />
                La proposta del Committente di variazioni all’incarico conferito, successiva al momento di conclusione
                del
                contratto, dovrà essere espressamente approvata dal Fornitore e potrà comportare la modifica dei termini
                per
                l’esecuzione della prestazione e del corrispettivo pattuito.</p>
            <h2>2.6 Sicurezza Informatica</h2>
            <p> Il Fornitore deve assumere tutte le misure necessarie, ai sensi del d.lgs. 196/03, per proteggere i suoi
                propri dati
                dalla contaminazione di virus che circolino sulla rete Internet.<br />
                Il Fornitore non potrà essere tenuto responsabile in caso di contaminazione dei materiali informatici
                inviati al
                Committente.</p>

        </div>
    </div>
</div>

{{"<!-- Condition section End -->" | safeHTML}}