{{ if .Site.Params.cta.enable }}
{{ "<!-- Start Call To Action -->" | safeHTML }}
<section class="call-to-action section" id="call-to-action" >
    <div class="container">
		<div class="row">
			<div class="col-md-12 title text-center">
				{{ with .Site.Params.cta.title }}
				<h2>{{ . }}</h2>
				<span class="border"></span>
				{{ end }}
                {{ with .Site.Params.cta.subtitle }}<p>{{ . | safeHTML }}</p>{{ end }}
				<div class="row" style="padding-top:50px">
					{{ "<!-- Contact Details -->" | safeHTML }}
					<div class="col-12 col-md-6" id="flags-area">
						<div class="map ">
							<div id="map" data-lat="{{ .Site.Params.contact.mapLatitude }}" data-long="{{ .Site.Params.contact.mapLongitude }}" data-marker="{{ .Site.Params.contact.mapMarker | absURL }}"></div>
						</div>
					</div>
					{{ "<!-- Contact Form -->" | safeHTML }}
					<div class="contact-form col-12 col-md-6 ">
					{{/* <form name="contact" method="POST" data-netlify="true" data-netlify-recaptcha="true">*/}}					
  						<form accept-charset="UTF-8" action="https://getform.io/f/2f299c1d-3bf3-44d0-8bd3-9c80c7fab0e7" method="POST" enctype="multipart/form-data">
  							<div class="form-group">
								<input type="text" placeholder="{{.Site.Params.cta.formName}}" class="form-control" name="name" id="name" required>
								<small id="namecheck" style="color: red">{{.Site.Params.cta.formNameError}}</small>
							</div>
							<div class="form-group">
								<input type="email" placeholder="{{.Site.Params.cta.formEmail}}" class="form-control" name="email" id="email" required>
								<small id="emailvalid" style="color: red" class="form-text text-muted invalid-feedback">{{.Site.Params.cta.formEmailError}}</small>
							</div>
							<div class="form-group">
								<input type="text" placeholder="{{.Site.Params.cta.formSubject}}" class="form-control" name="subject" id="subject" required>
							</div>
							{{/* <div class="d-flex align-items-center justify-content-left">
								<div>Prova</div>
								<div class="file-upload btn">
									<span>Upload</span>
									<input class="upload" type="file" name="file" />
								</div>
							</div>  */}}
							<div style="padding:10px" class=" justify-content-left">
								<label for="fileUpload">{{.Site.Params.cta.formUpload}}</label>
								<input type="file" name="file1" id="fileUpload">
								<label for="fileUpload">{{.Site.Params.cta.formUpload}}</label>
								<input type="file" name="file2" id="fileUpload">
								<label for="fileUpload">{{.Site.Params.cta.formUpload}}</label>
								<input type="file" name="file3" id="fileUpload">
								{{/*  <div class=" justify-content-left">*se i file da allegare sono più di uno, inviare una mail a: <a href="mailto:info@languageshop.it">info@languageshop.it</a></div  */}}>
							</div>
							{{/*<div style="padding:10px" class=" justify-content-left">
								<label for="fileUpload">{{.Site.Params.cta.formUpload}}</label>
								<input type="file" name="file" id="fileUpload">
							</div>
							<div style="padding:10px" class=" justify-content-left">
								<label for="fileUpload">{{.Site.Params.cta.formUpload}}</label>
								<input type="file" name="file" id="fileUpload">
							</div>  */}}
							<div class="form-group">
								<textarea rows="6" placeholder="{{.Site.Params.cta.formMessage}}" class="form-control" name="message" id="message" required></textarea>
								<small id="textcheck" style="color: red">{{.Site.Params.cta.formMessageError}}</small>
							</div>
							<div class="form-group">
								<input type="checkbox" name="condition" id="condition" required/>
								<label for="condition"><a href="/it/conditions" target="_blank">Autorizzo il trattamento dei dati personali*</a></label> {{/*  TODO: change in production  */}}
							</div>
							{{/*  <div class="form-group" data-netlify-recaptcha="true"></div>  */}}
							<div type="hiddenn" class="g-recaptcha" data-sitekey="6LdebwAeAAAAAF1HxAlqzJL7DavL_55oAVDioWoS" required></div>
							<div id="cf-submit">
								<input type="hidden" name="form-name" value="contact">
								<button  id="contact-submit" type="submit">{{.Site.Params.cta.formSubmit}}</button>
							</div>
						</form>
						{{/*  <form name="contact" class="contact-form width-normal" action="/thank-you/" method="POST" data-netlify="true">
							<input type="hidden" name="form-name" value="contact" />
								<buttontype="button">Submit</button>
							</div>
						</form>  */}}
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-4">
						<div id = 'cta' class="address-block contact-meta-block">
							<i class="tf-ion-android-pin"></i>
							<h4>Dove Siamo</h4>
							{{ with .Site.Params.contact.address }}<p>{{ . | safeHTML }}</p>{{ end }}
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div id = 'cta' class="phone-block contact-meta-block">
								<i class="tf-ion-ios-telephone"></i> 
							<h4>Contattaci</h4>
							<p style="unicode-bidi: bidi-override; direction: rtl">
								{{ with .Site.Params.contact.phone }} {{.}}:eciffO {{ end }} 
								<br> {{ with .Site.Params.contact.fax }} :liamE {{ . }} {{ end }}
							</p>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div id = 'cta' class="social-icons-block contact-meta-block">
							<i class="tf-ion-ios-contact"></i>
							<h4>Seguici su Facebook</h4>
							<ul class="list-inline social-icon">
								{{ with .Site.Params.contact.facebook }}
								<li class="list-inline-item">
									<a href="{{.}}">
										<i class="tf-ion-social-facebook"></i>
									</a>
								</li>
								{{ end }}
								{{ with .Site.Params.contact.twitter }}
								<li class="list-inline-item">
									<a href="{{.}}">
										<i class="tf-ion-social-twitter"></i>
									</a>
								</li>
								{{ end }}
								{{ with .Site.Params.contact.linkedin }}
								<li class="list-inline-item">
									<a href="{{.}}">
										<i class="tf-ion-social-linkedin"></i>
									</a>
								</li>
								{{ end }}
								{{ with .Site.Params.contact.dribbble }}
								<li class="list-inline-item">
									<a href="{{.}}">
										<i class="tf-ion-social-dribbble"></i>
									</a>
								</li>
								{{ end }}
								{{ with .Site.Params.contact.instagram }}
								<li class="list-inline-item">
									<a href="{{.}}">
										<i class="tf-ion-social-instagram"></i>
									</a>
								</li>
								{{ end }}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{ "<!-- Start Call To Action -->" | safeHTML }}
{{ end }}
