
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    <h4>Titolo H4</h4>
                    <h2>Titolo h2</h2>
                    <span class="border"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <p style="padding-bottom: 10px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id metus lectus. Sed luctus elit
                ut mauris semper pellentesque. Sed sollicitudin, massa finibus placerat condimentum, urna arcu
                accumsan est, laoreet tempus urna ipsum et velit. Fusce in tempus ipsum. Sed fermentum aliquet
                nulla ornare finibus. Morbi in ante facilisis, vestibulum odio id, porta ipsum. Vivamus est
                dolor, interdum sit amet lacus commodo, vehicula varius mi. In porttitor magna a nulla ultricies
                lacinia. Vivamus lobortis urna orci, vulputate faucibus lacus luctus id. Ut vulputate metus
                nisl, non consequat purus aliquam non. Fusce laoreet consequat velit quis efficitur. Fusce id
                est in turpis imperdiet cursus a ut risus.</p>
        </div>
    </div>
