{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.pricing }}
    {{ if .enable }}
    {{ "<!-- Start Pricing section -->" | safeHTML }}
    <section class="pricing-table section" id="pricing">
        <div class="container">
                <div class="col">
                    <div class="title text-center">
                        {{ with .topTitle }}<h4>{{.}}</h4>{{ end }}
                        {{ with .title }}
                        <h2>{{.}}</h2>
                        <span class="border"></span>
                        {{ end }}
                        {{/*  {{ with .subtitle }}<p>{{.}}</p>{{ end }}  */}}
                    </div>
                </div>

            <div class="col">
                <p>
                    In questa pagina troverai informazioni relative alla tariffe applicate al nostro servizio in base alle varie
                    combinazioni linguistiche disponibili. La tariffa viene applicata a <b>parola sorgente</b>. Cosa vuol dire? Vuol dire che
                    <i>il costo che visualizzi va moltiplicato per il numero di parole del testo che desideri tradurre</i>.</p>
                <p>Tali informazioni sono fornite a titolo puramente indicativo e ti invitiamo a richiedere un <b>preventivo gratuito</b> per
                    conoscere i costi applicati alla traduzione specifica da te richiesta. Infatti, a seconda della tipologia di testo e
                    della sua difficoltà, della mole di lavoro e delle varie ripetizioni che potrebbero esserci all’interno del testo da
                    te fornito, <b>il costo finale potrebbe essere più basso</b> (e, in alcuni casi più alto) di quanto ti aspetti. </p>
                <p>I nostri preventivi non vengono calcolati con il supporto di sistemi informatici. Questo ci permette di valutare
                    attentamente il livello di difficoltà reale del testo e di non conteggiare, ad esempio, tutte quelle parti di testo
                    che si ripetono e che potrebbero far lievitare inutilmente il costo di una traduzione.</p>
            </div>
        </div>
        <!-- end container -->
    </section>
    {{ "<!-- End section -->" | safeHTML }}
    {{ end }}
{{ end }}