{{ "<!-- Page Title Section Start -->" | safeHTML }}
<section class="single-page-header">
    <div class="container">
        <div class="row" style="padding: 25px 0">
            <div class="col-md-12">
                <h2>Hai bisogno di tradurre il tuo sito web?</h2>
                <p style="color:#f8f9fc">Languageshop offre un servizio di traduzione siti web in inglese, francese, tedesco, spagnolo, russo e
                    qualsiasi altra lingua!
                   <br>Chiedici un preventivo senza impegno e scopri le nostre tariffe vantaggiose!
                </p>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Start traduzione certificata section -->" | safeHTML}}
<section>
    <div class="container">
        <div class="d-md-flex h-md-100 align-items-center">
            <!-- First Half -->
            <div class="col-md-6 p-0 h-md-100">
                <div class="col">
                    <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center" id="flags-area">
                        <img class="img-responsive" style="border-radius: 10%; border: 4px solid #f64c72;"
                            src="/images/call-to-action/call-to-action-bg-2.jpg" alt="screenshot" width="80%">
                    </div>
                </div>
            </div>
            <!-- Second Half -->
            <div class="col-md-6 p-0 bg-indigo h-md-100">
                <div class="d-md-flex align-items-center h-100 p-5 justify-content-center">
                    <div class="col">
                        <h2>Traduzione siti web: a chi affidarsi?</h2>
                        <p>Il tuo sito web è il tuo <span class="highlight">biglietto da visita</span>, la vetrina virtuale dove esporre i tuoi prodotti e servizi.
                        <br>Per questo, se il tuo sito web è stato progettato per essere multilingua, la soluzione migliore è quella di affidarsi ad <span class="highlight">un servizio di traduzione siti web professionale</span> ed evitare i traduttori automatici.
                        <br>Quando si tratta di testi di marketing, come quelli presenti su un sito web, tradurre parola per parola non è mai una buona idea. <br>Solo un traduttore professionista può rendere davvero il senso dei contenuti del tuo sito web e attirare i clienti che stai cercando fuori dai confini nazionali.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-md-flex h-md-100 align-items-center">
            <!-- First Half -->
            <div class="col-md-6 p-0 bg-indigo h-md-100">
                <div class="d-md-flex align-items-center h-100 p-5 justify-content-center">
                    <div class="col">
                        <h2>Come richiedere una traduzione del tuo sito web</h2>
                        <p>Se hai bisogno di tradurre il tuo sito web, <span class="highlight">contatta Languageshop per un preventivo</span>. <br>La cosa migliore da fare è inviare i testi del tuo sito web in formato Word o PDF. Altrimenti, ti invitiamo a specificare il link del sito web che desideri tradurre. In quel caso, ci occuperemo noi di estrapolare i testi per una stima dei costi.
                       <br>Per richiedere un preventivo gratuito, compila il form specificando la lingua di destinazione e verrai contattato non appena possibile. <br><span class="highlight">Il preventivo è gratuito e senza impegno!</span></p>
                        <a href="#call-to-action"> Richiedi immediatamente un preventivo gratuito</a>
                    </div>
                </div>
            </div>
            <!-- Second Half -->
            <div class="col-md-6 p-0 h-md-100">
                <div class="col">
                    <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center" id="flags-area">
                        <img class="img-responsive" style="border-radius: 10%; border: 4px solid #f64c72;"
                            src="/images/call-to-action/call-to-action-bg-2.jpg" alt="screenshot" width="80%">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{{"<!-- End section -->" | safeHTML }}