{{ "<!-- Page Title Section Start -->" | safeHTML }}
<section class="single-page-header">
    <div class="container">
        <div class="row" style="padding: 25px 0">
            <div class="col-md-12">
                <h2>Hai bisogno di una traduzione certificata?</h2>
                <p style="color:#f8f9fc">Languageshop effettua traduzioni certificate di atti, documenti personali,
                    titoli di studio, e molto altro!
                   <br>Chiedici un preventivo senza impegno e scopri le nostre tariffe vantaggiose!
                </p>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Start traduzione certificata section -->" | safeHTML}}
<section>
    <div class="container">
        <div class="d-md-flex h-md-100 align-items-center">
            <!-- First Half -->
            <div class="col-md-6 p-0 h-md-100">
                <div class="col">
                    <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center" id="flags-area">
                        <img class="img-responsive" style="border-radius: 10%; border: 4px solid #f64c72;"
                            src="/images/call-to-action/call-to-action-bg-2.jpg" alt="screenshot" width="80%">
                    </div>
                </div>
            </div>
            <!-- Second Half -->
            <div class="col-md-6 p-0 bg-indigo h-md-100">
                <div class="d-md-flex align-items-center h-100 p-5 justify-content-center">
                    <div class="col">
                        <h2>Cos'è una traduzione certificata</h2>
                        <p>Le traduzioni certificate sono una versione "semplificata" delle traduzioni
                            legalizzate in tribunale.
                            <span> Si tratta di <span class="highlight">traduzioni accompagnate dall’autocertificazione di un traduttore
                                qualificato</span>, il quale
                                dichiara di aver fedelmente tradotto il testo al meglio delle sue possibilità e senza
                                favorire
                                nessuno.</span>
                        </p>
                        <p>Il traduttore si dichiara inoltre disposto ad essere contattato per ulteriori chiarimenti e
                            fornisce, a
                            tale scopo, tutti i suoi recapiti. </p>
                        <span>Molti enti, università ed istituzioni in Europa accettano ormai le traduzioni certificate
                            per snellire
                            le procedure.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-md-flex h-md-100 align-items-center">
            <!-- First Half -->
            <div class="col-md-6 p-0 bg-indigo h-md-100">
                <div class="d-md-flex align-items-center h-100 p-5 justify-content-center">
                    <div class="col">
                        <h2>Come richiedere un traduzione certificata</h2>
                        <p>Se hai bisogno di una traduzione certificata, contatta Languageshop per un preventivo. Se
                            accetterai il
                            preventivo, Languageshop invierà la tua traduzione certificata al tuo indirizzo email o, se
                            necessario,
                            per posta ordinaria.
                        </p>
                        <p>Le <span class="highlight">tempistiche</span> di consegna sono <span class="highlight">molto più veloci</span> rispetto alle traduzioni legalizzate e anche
                            i costi
                            sono più vantaggiosi. <span> Infatti, il preventivo per la traduzione certificata è lo
                                stesso di una traduzione
                                semplice. Non applichiamo costi aggiuntivi sull’autocertificazione!</span></p>
                        <a href="#call-to-action"> Richiedi immediatamente un preventivo gratuito</a>
                    </div>
                </div>
            </div>
            <!-- Second Half -->
            <div class="col-md-6 p-0 h-md-100">
                <div class="col">
                    <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center" id="flags-area">
                        <img class="img-responsive" style="border-radius: 10%; border: 4px solid #f64c72;"
                            src="/images/call-to-action/call-to-action-bg-2.jpg" alt="screenshot" width="80%">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{{"<!-- End section -->" | safeHTML }}


<!--         <div class="row">
            <div class="col">
                <div style="display: flex;">
                    <div style="padding-right:30 px">
                        <h2 class="title" style="padding-bottom:10px">Hai bisogno di una traduzione certificata?</h2>
                        <p style="padding-left: 10px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                    </div>
                    <div style="padding-left: 20px;">
                        <img class="img-responsive" style="border-radius: 10%; border: 4px solid #f64c72;"
                            src="/images/call-to-action/call-to-action-bg-2.jpg" alt="screenshot" width="60%">
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col">
                    <div style="display: flex;">
                        <div style="padding-right:20px">
                            <img class="img-responsive" style="border-radius: 10%; border: 4px solid #f64c72;"
                            src="/images/call-to-action/call-to-action-bg-2.jpg" alt="screenshot" width="60%">
                        </div>
                        
                            <h3>Cos'è una traduzione certificata</h3>
                            <p>Le traduzioni certificate sono una versione “semplificata” delle traduzioni
                                asseverate/legalizzate. Si
                                tratta di traduzioni accompagnate dall’autocertificazione di un traduttore qualificato,
                                il quale
                                dichiara di aver fedelmente tradotto il testo al meglio delle sue possibilità e senza
                                favorire
                                nessuno.
                            </p>
                            <p>Il traduttore si dichiara inoltre disposto ad essere contattato per ulteriori chiarimenti
                                e
                                fornisce, a
                                tale scopo, tutti i suoi recapiti.
                                Molti enti, università ed istituzioni in Europa accettano ormai le traduzioni
                                certificate per
                                snellire
                                le procedure.</p>
                            <a href="#call-to-action"> Richiedi immediatamente un preventivo gratuito</a>
                        
                    </div>
                </div>
            </div> -->