{{ "<!-- Page Title Section Start -->" | safeHTML }}
<section class="single-page-header">
    <div class="container">
        <div class="row" style="padding: 25px 0">
            <div class="col-md-12">
                <h2>Hai bisogno di tradurre il tuo cv?</h2>
                <p style="color:#f8f9fc">Languageshop offre un servizio di traduzione cv in inglese, francese, tedesco, spagnolo, russo e
                    qualsiasi altra lingua!
                   <br>Chiedici un preventivo senza impegno e scopri le nostre tariffe vantaggiose!
                </p>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Start traduzione certificata section -->" | safeHTML}}
<section>
    <div class="container">
        <div class="d-md-flex h-md-100 align-items-center">
            <!-- First Half -->
            <div class="col-md-6 p-0 h-md-100">
                <div class="col">
                    <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center" id="flags-area">
                        <img class="img-responsive" style="border-radius: 10%; border: 4px solid #f64c72;"
                            src="/images/call-to-action/call-to-action-bg-2.jpg" alt="screenshot" width="80%">
                    </div>
                </div>
            </div>
            <!-- Second Half -->
            <div class="col-md-6 p-0 bg-indigo h-md-100">
                <div class="d-md-flex align-items-center h-100 p-5 justify-content-center">
                    <div class="col">
                        <h2>Traduzione cv: a chi affidarsi?</h2>
                        <p>Il tuo curriculum è molto di più di un biglietto da visita: è quel documento che racconta la tua formazione,
                            personale e professionale, quello che hai fatto per acquisire le tue skill e competenze e anche quello che sei
                            disposto a fare per migliorarle.
                            Se stai cercando lavoro o vuoi migliorare la tua posizione lavorativa, magari andando all’estero, <span class="highlight">
                            traduzione professionale del curriculum è molto importante</span> e non può essere affidata a traduttori
                            automatici.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-md-flex h-md-100 align-items-center">
            <!-- First Half -->
            <div class="col-md-6 p-0 bg-indigo h-md-100">
                <div class="d-md-flex align-items-center h-100 p-5 justify-content-center">
                    <div class="col">
                        <h2>Come richiedere una traduzione del cv</h2>
                        <p>Se hai bisogno di tradurre il cv, <span class="highlight">contatta Languageshop per un preventivo</span>. <br>Oltre ad un servizio
                            di traduzione cv professionale, Languageshop è in grado di fornire consigli su formato e contenuti del tuo
                            curriculum in base al paese di destinazione, affinché tu possa creare il cv perfetto!
                       <br>Per richiedere un <span class="highlight">preventivo gratuito </span>, compila il form specificando la lingua di destinazione e verrai contattato non appena possibile. <br><span class="highlight">Il preventivo è gratuito e senza impegno!</span></p>
                        <a href="#call-to-action"> Richiedi immediatamente un preventivo gratuito</a>
                    </div>
                </div>
            </div>
            <!-- Second Half -->
            <div class="col-md-6 p-0 h-md-100">
                <div class="col">
                    <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center" id="flags-area">
                        <img class="img-responsive" style="border-radius: 10%; border: 4px solid #f64c72;"
                            src="/images/call-to-action/call-to-action-bg-2.jpg" alt="screenshot" width="80%">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{{"<!-- End section -->" | safeHTML }}