{{ define "main" }}

<section class="page-404 text-center d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{.Site.Params.error.title}}</h1>
        <h2>{{.Site.Params.error.subtitle}}</h2>
        <p>{{.Site.Params.error.paragraph1}}</p>
        <a href="{{ .Site.Params.error.link }}" class="btn btn-main">{{.Site.Params.error.button1}}</a>
        <p>{{.Site.Params.error.paragraph2}}</p>
        <a href="{{ .Site.BaseURL }}" class="btn btn-main">{{.Site.Params.error.button2}}</a>
      </div>
    </div>
  </div>
</section>
  
{{end}}